html, body {
	margin: 0;
	padding: 0;
	min-width: 320px;
	font-family: Arial;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h2 {
	font-size: 20px;
	padding: 25px 0 25px 18px;
	margin: 0 0 35px;
	border-bottom: 1px solid #e5e5e5;
}

header {
	color: #91919f;
}

header a {
	color: #448ccb;
	text-decoration: underline;
}
#top-bar,
footer {
	background-color: #00122f;
	color: white;
}

#top-bar {
	padding: 20px 0;
	font-size: 16px;
}

#top-bar a,
#bottom-bar a {
	color: white;
}

#bottom-bar a {
	text-decoration: none;
}

.fixed-container {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

#datetime {
	float: right;
}

#info-container {
	height: 85px;
}

.logo {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: bold;
}

#info-container .logo {
	position: absolute;
	top: 40px;
	color: #000;
}

footer .logo {
	color: #fff;
}

.logo-img {
	margin-right: 8px;
}

.logo-text {
	max-width: 80px;
}

#city {
	position: absolute;
	top: 50px;
	left: 180px;
}

#weather {
	position: absolute;
	top: 50px;
	/* left: 550px; */
	right: 365px;
}

#weather span {
	position: relative;
	bottom: 4px;
	margin-left: 4px; 
}

#search {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 40px;
	right: 0;
	width: 300px;
	padding: 13px 18px;
	border: none;
	border-radius: 23px;
	background-color: rgba(235,235,235, .6);
	opacity: 0.55;
}

#search input[type=text] {
	background: transparent;
	border: none;
}

#search button {
	cursor: pointer;
	background: transparent;
	border: none;
}

.icon-search {
	display: block;
	width: 16px;
	height: 16px;
	background: url('img/search.png');
}

#menu-container {
	padding: 30px 0;
}

#menu-container a {
	color: black;
	text-decoration: none;
}

#menu-divider {
	color: rgba(145,145,159,0.3);
	font-size: 20px;
	padding: 0 10px 0 15px;
}

#column-left {
	background-color: #FFFFFF;
	width: 250px;
	height: 845px;
	float: left;
}

#column-left .news-item,
#column-center .news-item,
#popular-news .news-item {
	font-size: 14px;
	line-height: 20px;
}

#column-left .news-item,
#popular-news .news-item {
	padding-left: 18px;
	margin-bottom: 20px;
}

#column-left .news-item-text,
#column-center .news-item-text,
#popular-news .news-item-text {
	margin-bottom: 15px;
}

#popular-news .news-item {
	margin-bottom: 22px;
}

#popular-news .news-item-text {
	margin-bottom: 15px;
}

#column-center .news-item-text,
#popular-news .news-item-text {
	font-weight: bold;
}

#column-left .news-item-props,
#column-center .news-item-props,
#featured .news-item-props {
	font-size: 12px;
	position: relative;
}

#column-left .news-item-props a,
#column-center .news-item-props a,
#popular-news .news-item-props a {
	color: #91919f;
}

#column-left .news-time,
#column-center .news-time,
#main-article .news-time,
#featured .news-time {
	position: absolute;
	padding-left: 15px;
	background-image: url('img/icon-time-blue.png');
	background-repeat: no-repeat;
	background-position: 0 4px;
}

#column-left .news-time {
	top: 0;
	left: 120px;
}

#column-center .news-time,
#popular-news .news-time {
	top: 0;
	left: 75px;
}

#column-left .news-comments-count,
#column-center .news-comments-count,
#popular-news .news-comments-count {
	position: absolute;
	padding-left: 15px;
	background-image: url('img/icon-comments.png');
	background-repeat: no-repeat;
	background-position: 0 4px;
}

#column-left .news-comments-count {
	top: 0;
	left: 180px;
}

#column-center .news-comments-count,
#popular-news .news-comments-count {
	top: 0;
	left: 135px;
}

#column-left .news-btn {
	display: inline-block;
	text-decoration: none;
	font-size: 14px;
	color: #448ccb;
	border: 1px solid #448ccb;
	border-radius: 23px;
	padding: 15px 50px;
	margin-left: 30px;
}

#column-center {
	width: 460px;
	margin-left: 20px;
	float: left;
}

#main-article {
	width: 460px;
	height: 320px;
	padding-left: 20px;
	padding-top: 110px;
	margin-bottom: 20px;
	background-image: url(img/main-article.png);
	color: #FFFFFF;
}

#main-article a {
	display: inline-block;
	margin-bottom: 20px;
	font-size: 12px;
	text-decoration: none;
	color: #FFFFFF;
}

#main-article .news-item-text {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 30px;
}

#main-article .news-time {
	top: 0;
	left: 115px;
	background-image: url('img/icon-time-white.png');
	background-position: 0 2px;
}

#column-center .news-item {
	display: inline-block;
	width: 220px;
	margin-right: 20px;
	margin-left: -4px;
	padding-bottom: 20px;
}

#column-center .news-item:nth-child(odd) {
	margin-right: 0;
}

#featured {
	display: flex;
}

#featured-article {
	width: 588px;
	height: 393px;
	padding-top: 105px;
	padding-left: 20px;
	background-image: url(img/truck.jpg);
	color: #efefef;
}

#featured-article a {
	display: inline-block;
	margin-bottom: 20px;
	font-size: 12px;
	text-decoration: none;
	color: #FFFFFF;
}

#featured-article .news-item-header {
	max-width: 400px;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}

#featured-article .news-item-props {
	margin-bottom: 25px;
}

#featured-article .news-time {
	top: 0;
	left: 131px;
	background-image: url('img/icon-time-white.png');
	background-position: 0 2px;
}

#featured-article .news-item-text {
	max-width: 500px;
	font-size: 14px;
	margin-bottom: 40px;
}

#popular-news {
	/*float: left;*/
	width: 415px;
	margin-left: -4px;
	background-color: #FFFFFF;
}

#popular-news h2 {
	margin: 0 0 25px;
}

#central-container {
	padding-top: 20px;
	background-color: #f9f9f9;
	background-image: url('img/central-bg-top.png');
	background-repeat: repeat-x;
	padding-bottom: 60px;
}

#central-container .fixed-container {
	overflow-y: hidden;
}

#column-right {
	width: 250px;
	float: right;
}

#column-right img {
	margin-bottom: 20px;
}

#special-news {
	margin-top: 20px;
}

.list {
	padding-left: 20px;
}

.list-item {
	display: list-item;
}

#footer-container {
	padding: 60px 0;
}

#footer-container .fixed-container {
	display: flex;
	justify-content: space-between;
}

#footer-container a {
	text-decoration: none;
	color: #fff;
}

.footer-primary-menu,
.footer-secondary-menu,
.footer-contact {
	display: flex;
	flex-flow: column wrap;
}

.footer-primary-menu a,
.footer-secondary-menu a {
	display: block;
	margin-bottom: 20px;
}

.footer-primary-menu {
	max-height: 190px;
	width: 250px;
	align-content: space-between;
}

.footer-secondary-menu .logo {
	margin-bottom: 35px;
}

.footer-contact .social {
	width: 230px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.footer-contact .phone,
.footer-contact .email {
	margin-bottom: 40px;
}

.social i,
.phone i,
.email i {
	display: inline-block;
}

.social i {
	width: 40px;
	height: 40px;
}

.phone i {
	width: 15px;
	height: 15px;
}

.email i {
	width: 13px;
	height: 11px;
}

.phone i,
.email i {
	margin-right: 20px;
}

.phone-img {
	background: url('img/phone.png');
}

.email-img {
	background: url('img/email.png');
}

.social-vk {
	background: url('img/vk.png');
}

.social-fb {
	background: url('img/fb.png');
}

.social-twitter {
	background: url('img/twitter.png');
}

.social-ig {
	background: url('img/ig.png');
}

#copyright-container .fixed-container {
	display: flex;
	justify-content: center;
	border-top: 1px solid rgba(255, 255, 255, .15);
	padding: 20px 0;
	color: rgba(255, 255, 255, .4);
}

#copyright-container .copyright {
	font-size: 14px;
}